body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    color: white;
}

header {
    background-color: #333;
    color: #150404;
}

header h1 {
    margin: 0;
    padding: 10px;
    display: inline;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 180px);
}

.login-container {
    background-color: lightseagreen;
    color:#150404;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(2, 1, 1, 0.1);
}

.login-container h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: white;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: wheat;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 25px;
    text-align: center;
}
